<section>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2>Create A Blog Post</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" name="post-title" id="post-title">
        </div>
        <div>
            <label for="post-body">Blog Post Text</label>
            <textarea name="post-body" id="post-body" cols="30" rows="10"></textarea>
        </div>
        <button type="submit" class="btn"><i class="fas fa-plus"></i> Create Post</button>
    </form>
</section>

<script src="/javascript/add-post.js"></script>